body{
    background-color: grey;
}
* 
{
    margin: auto;
}

.top {
    background-color: rgb(255, 255, 255);
    max-width: 100%;
    max-height: 50%;
    line-height: 1.7;
    border: 2px 2px;
    margin-top: 50px;
    margin-left: 50px;
    margin-right: 50px;
    margin-bottom: 0px;
    padding-bottom: 50%;                         
}


header {
    background-color: rgb(232, 232, 235);
    border-bottom: 1px solid black;
    padding-bottom: 20px;
    padding-top: 20px;
}
a:-webkit-any-link {
    color: solid black;
    cursor:pointer;
    text-decoration: none;
}
.dot
 {
float: right;
border-radius: 50px;
margin-top: 1px;
width: 5px;
color: red;
text-decoration-color: red;
text: decoration thickness 100px; ;

}

.richard {
    font-family: 'Times New Roman', Times, serif;
    font:800px  
    display: block;
    font-size: 1.5em;
    
    font-weight: bold;
}
li {
    list-style: none;
    float: left;
    display: block;
    padding-left: 9px;
    margin-right: 100px;
}

.lets
 {
    padding: 7px 20px;
    margin-left: 300px;
    box-sizing:200px;
}    

h1 {
    padding-top: 75px;
    padding-bottom: 20px;
}

.ds {
    padding-bottom: 30px;
    font-weight:bold;
}
.n {
    font-weight:bold;
    font-size: 2em;
}

img {
    max-height: 100%;
    max-width: 100%;
        float: right;
    z-index: -2;
}

.hire {
    background-color: orangered;
    color: #fff;
    border: none;
    padding: 10px 25px;
    margin-bottom: 30px;
    font-weight: bolder;
}

.project {
    border: none;
    font-weight:1000;
    cursor: pointer;
    box-sizing:border-box;
    background-color:white;
    height: 20px;
    
    
}
    
.pdone {
    height: 0px;
}

.contact {
    max-width: 860px;
    max-height: 90px;
}

button {
    padding: 7px  20px;
    border: none;
    border-radius: 10px;
    color: white;
    background-color: rgb(91, 10, 221);
}

.bball {
    margin-right: 200px;
}



.get {
    background-image: url(image/tim\ berner\ lee.jpg);
    background-size: 266%;
    float: right;
    padding-left: 200px;
    padding-right: 75px;
    padding-bottom: 379px;
    height: 343px;
    background-position: bottom;
}

.cre {
    text-align: left;
    font-size: x-large;
    margin-left: 50px;
}

.diamond {
float:right;
margin-right: 50px;
}

.colors {
    float: left;
    margin-left: -192px;

}

.xd {
    margin-top: 300px;
    margin-right: 70px;
}
.sub1{
    background-color: rgb(212, 209, 209);
    
}
.sub {
    margin-top:0;
    color: black;
    background-color: grey;
    float: left;
    
    
}
.arr {
    float: right;
}
.rect {
    max-width: 100%;
    background-color: black;
    color: #fff;
    margin-top: 11px;
    padding: 40px 0px;
}

.bottom {
    margin-left: 60px;
    width: 120px;
    height: 0px;
    padding-right: 100px;
}

table {
    margin-right: 560px;
}

td {
    border-bottom: 1px solid white;
    padding-right: 100px;
} 

.tech {
    margin-left: 60px;
}

.know {
    background-color: yellow;
    padding: 10px 15px;
}
.table {
    padding-right: 100px;
}
